<ion-header>

  <ion-navbar>
    <ion-title>Verify accounts</ion-title>
    <button ion-button item-end (click)="loadAccounts()">Refresh</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card class="account card" *ngFor="let account of accounts" color="primary" [style.background-color]="account.usrIsHK ? '#f53d3d' : '#488aff'">
    <ion-card-header>  
        <ion-item color="primary">
            <ion-label item-start><h1>{{account.usrName}} {{account.usrSurname}}</h1></ion-label>
            <button ion-button item-end (click)="verifyAccount(account)">Verify</button>
            <button ion-button item-end (click)="discardAccount(account)">Discard</button>
        </ion-item>              
    </ion-card-header>
    <ion-card-content>   
        <ion-item color="primary">          
          <ion-label>{{account.usrUsername}}</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-label>{{account.usrEmailAddress}}</ion-label> 
        </ion-item>
        <ion-item *ngIf="account.usrIsHK" color="primary">
          <ion-label>HK Member</ion-label>  
        </ion-item>            
    </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
