<ion-header>
	<ion-navbar>
		<ion-title>Weekend Sign In List</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="refresh()">
				<ion-icon name="refresh"></ion-icon>
			</button>
			<button ion-button icon-only (click)="downloadCSV()">
				<ion-icon name="download"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<table border=1>
		<tr>
			<th width="20%">Table</th>
			<th width="50%">Student</th>
			<th *ngFor="let meal of meals"><b>{{ meal }}</b></th>
		</tr>
		<tr *ngFor="let student of seatingMapList; let i = index">
			<td *ngFor="let field of student; let j = index" [style.background-color]="field == 0 ? '#f53d3d' : (field == 1 ? '#119b05' : '#FFFFFF')">
				<div *ngIf="field != 0 && field != 1">					
					{{ field }}
				</div>
				<div *ngIf="field == 0 && field != 1">
					Signed Out
				</div>
				<div *ngIf="field != 0 && field == 1">
					Signed In
				</div>		
			</td>
		</tr>		
	</table>
	<ion-label>Number of Students Signed In on Firday Dinner: {{ countFrD }}</ion-label>
	<ion-label>Number of Students Signed In on Saturday Brunch: {{ countSaB }}</ion-label>
	<ion-label>Number of Students Signed In on Saturday Dinner: {{ countSaD }}</ion-label>
	<ion-label>Number of Students Signed In on Sunday Breakfast: {{ countSuB }}</ion-label>
	<ion-label>Number of Students Signed In on Sunday Lunch: {{ countSuL }}</ion-label>
	<ion-label>Number of Students Signed In on Sunday Dinner: {{ countSuD }}</ion-label>
</ion-content>
